@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #1d1d1d;
    font-family: "Urbanist", sans-serif;
    margin: 0;
}

.flex {
    display: flex;
}

.app-main-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow-y: auto;
}

@supports not (height: 100dvh) {
    .app-main-container {
        /* L'hack standard di iOS per 100vh */
        height: -webkit-fill-available;
    }
}

.menu-content {
    flex-grow: 1;
    padding-bottom: 10px;
}

.social-logo {
    display: flex;
    align-items: center;
}

.mia-icona-social {
    padding-top: 4px;
}

.social-links {
    width: 25%;
    text-align: center;
}

.main-header {
    position: sticky;
    top: 0;
    flex-shrink: 0;
    z-index: 10;
    background-color: #ffffff;
    padding-top: max(10px, env(safe-area-inset-top, 10px));
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.flag-icon {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.flag-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    transition: transform 0.2s;
}

.flag-button:hover {
    transform: scale(1.05);
}


.language-menu {
    position: absolute;
    top: 50px;
    left: 20%;
    transform: translateX(-50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flag-option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.2s;
    border-radius: 5px;
}

.flag-option:hover {
    background-color: #f0f0f0;
}

.lang-text {
    font-size: 14px;
    color: #333;
}

.logo {
    text-align: center;
    margin: 0;
    width: 50%;
}

.logo-svg {
    width: 100%;
}

.nav-bar-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 0;
}

.category-tabs {
    display: flex;
    padding: 0 15px 5px;
}

.category-button {
    display: flex;
    background: none;
    border: none;
    color: #313131;
    cursor: pointer;
    padding: 8px 15px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    font-weight: bold;
    align-items: center;
}

.category-button .button-icon {
    width: 25px;
    height: 25px;
}

.category-button-autunno:hover,
.category-button-autunno.active {
    color: rgb(179 119 39);
    border-bottom: 2px solid rgb(179 119 39);
}

.category-button-primavera:hover,
.category-button-primavera.active {
    color: rgb(240 169 167);
    border-bottom: 2px solid rgb(240 186 165);
}

.category-button-inverno:hover,
.category-button-inverno.active {
    color: rgb(155 192 168);
    border-bottom: 2px solid rgb(155 192 168);
}

.category-button-estate:hover,
.category-button-estate.active {
    color: rgb(1 103 180);
    border-bottom: 2px solid rgb(1 103 180);
}


.menu-section {
    padding: 0 15px 8px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    color: #2a2a2a;
    margin-bottom: 5px;
}

.section-subtitle {
    color: #7c7b7b;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.page-error {
    margin: 40px 50px 0;
    font-size: xx-large;
    text-align: center;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
}

.menu-item-card {
    background-color: #575757;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.item-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.item-details {
    padding: 15px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.item-name {
    color: rgb(239, 239, 239);
    font-size: 1.1em;
    margin: 0;
}

.item-price {
    font-weight: bold;
    color: rgb(239, 239, 239);
    font-size: 1.1em;
}

.item-ingredients {
    color: #ccc;
    font-size: 0.85em;
    margin: 0;
    text-align: start;
}

.main-footer {
    background-color: #313131;
    color: rgb(235, 235, 235);
    padding: 0px 15px 10px;
    font-size: 0.9em;
}

.footer-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 20px;
    gap: 30px;
}

.footer-section {
    flex-basis: 100%;
}

.footer-section h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 15px;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 5px;
}

.hours-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hours-list li {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 5px;
}

.footer-map a,
.footer-phone a,
.footer-social a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-map,
.footer-phone,
.footer-social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.reservation-button {
    background-color: rgb(248, 248, 248);
    color: #313131;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    width: 100%;
}

.reservation-button:hover {
    background-color: rgb(224, 224, 224);
}

.footer-bottom {
    border-top: 1px solid #a7a7a7;
    padding-top: 15px;
    text-align: center;
}

.copyright-text {
    margin-bottom: 10px;
}

.a2hs-banner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    pointer-events: none;
}

.a2hs-banner-overlay.expanded {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: auto;
}

.a2hs-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e1e1e1;
    color: #333333;
    padding: 10px 15px 25px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    pointer-events: auto;
}

.a2hs-banner .collapsed-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a2hs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.a2hs-collapsed-title {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.a2hs-prompt {
    text-align: center;
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    padding-right: 10px;
}

.a2hs-info-toggle,
.a2hs-back-button,
.a2hs-close-expanded {
    border: 1px solid #333;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 15px;
}

.a2hs-expanded-title{
    margin-top: 0px;
    text-align: center;
}

.a2hs-info-toggle {
    font-size: 16px;
    width: 100%;
    margin-left: 0px;
}

.a2hs-info-toggle:hover,
.a2hs-close-collapsed:hover,
.a2hs-close-expanded:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.a2hs-close-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.a2hs-close-collapsed {
    color: #333;
    border: none;
    font-size: 24px;
    padding: 0 8px;
    background: none;
}

.a2hs-banner.expanded-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    height: 100%;
    max-height: fit-content;
    border-radius: 8px;
    padding: 20px;
    background-color: #e1e1e1;
    color: #333333;
}

.a2hs-banner.expanded-content .a2hs-header {
    flex-direction: column;
    align-items: flex-start;
}

.a2hs-banner.expanded-content .a2hs-prompt {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-right: 0;
}

.a2hs-banner.expanded-content .a2hs-info-toggle {
    color: #333;
    background-color: #f0f0f0;
}

.a2hs-details h3 {
    text-align: center;
    margin-top: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.a2hs-details p {
    text-align: center;
    margin: 8px 0;
}

.a2hs-close-expanded {
    display: block;
    width: 100%;
    background-color: #f0f0f0;
    color: #333;
    height: 35px;
}

.a2hs-banner.expanded-content .a2hs-close-collapsed {
    display: none;
}

.a2hs-banner.collapsed-content .a2hs-close-expanded {
    display: none;
}

/* Media Query per Desktop/Tablet */
@media (min-width: 768px) {
    .footer-section {
        flex-basis: calc(33.333% - 20px);
        /* 3 colonne */
    }

    .reservation-button {
        width: auto;
        /* Togli il full-width su desktop */
    }

    .legal-links {
        display: inline-block;
        margin-top: 0;
    }
}

@media (min-width: 375px) {
    .language-menu {
        left: 30%;
    }
}

@media (min-width: 400px) {
    .language-menu {
        left: 35%;
    }
}

@media (min-width: 480px) {
    .language-menu {
        left: 45%;
    }

    .logo-svg {
        width: 90%;
    }
}

@media (min-width: 550px) {
    .language-menu {
        left: 50%;
    }

    .logo-svg {
        width: 80%;
    }
}

@media (min-width: 700px) {
    .logo-svg {
        width: 70%;
    }
}

@media (min-width: 800px) {
    .logo-svg {
        width: 60%;
    }
}

@media (min-width: 900px) {
    .logo-svg {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .logo-svg {
        width: 40%;
    }
}

@media (min-width: 1500px) {
    .logo-svg {
        width: 35%;
    }
}

@media (min-width: 1600px) {
    .category-tabs-aperitif {
        justify-content: center;
    }
}

@media (min-width: 1800px) {
    .logo-svg {
        width: 30%;
    }
}

@media (min-width: 2000px) {
    .category-tabs-night {
        justify-content: center;
    }
}